.main-container {
  margin: 20px;
}

.box {
  border: 2px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.box-1 {
  background-color: #ffffb3;
  border-color: yellow;
}

.box-2 {
  background-color: #96d8ff; /* Hex: 96D8FF */
}

.box-3 {
  background-color: #dfffd6; /* Hex: DFFFD6 */
}

.box h2 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.important {
  margin-bottom: 30px;
}

.list-important {
  color: red;
}

.list {
  text-align: left;
  margin-left: 35px;
}

.list li {
  margin-top: 10px;
}

.recommend-btn {
  display: inline-block;
}
